
  
 @import url('http://fonts.googleapis.com/css/family=Quicksand:400, 500&subset=latin-ext');
 body {
     padding: 150px;
     background-image: linear-gradient(-20deg, #008cff 0%, #000000 100% );
     text-align: center;
     font-family: 'Quick sand', sans-serif;
 }
 ul {
     margin-left: -45px;
 }
 li {
     list-style: none;
     display: inline-block;
 }
 .main {
     width: 800px;
     height: 520px;
     background-color: #fafafa;
     margin: 0 auto;
     padding-top: 20px;
     border-radius: 10px;
     border: 1px solid #eeee;
 }
 .img {
     background-image: url(images\ \(2\).jpg);
     background-color: #eaeaea;
     background-size: cover;
     border-radius: 100px;
     width: 150px;
     height: 150px;
     margin: 0 auto;
     border: 1px solid #eaeaea;
 }
 h2 {
     text-align: center;
     font-size: 30px;
     margin: 0;
     font-weight: bold;
     color: #000000;
 }
 .text {
     text-align: center;
     font-size: 15px;
     margin: 0;
     color: #000000;
 }
 .p {
     margin: 0 auto;
     padding-top: 20px;
     width: 450px;
     height: auto;
     color: #eaeaea;
 }
 hr {
    width: 60%;
    border: 0.5px solid #ccc;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 20px;
  }
  
  th {
    color: #333333;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  td {
    text-align: center;
    padding: 10px 15px;
  }
  
  .text-left { text-align: left; }
  tr:nth-child(odd) { background-color: #002fff; }
  
  tr.tr-header {
    background-color: linear-gradient(-20deg, #008cff 0%, #000000 100% );;
    height: 50px;
  }
  
  .footer-text {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  img { 
    max-width: 100%;
    max-height: 200px;
  }
  
  .gallery {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .images {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  figure { margin: 0; }
  figcaption { text-align: center; }
  
  figcaption span {
    display: block;
    color: #333333;
    font-size: 15px;
  }